* {
  margin: 0;
  padding: 0;
}

/*
Solarized dark
Base03		15	−12	−12	#002b36	0	43	54	234	brblack	background tones
(dark theme)
Base02		20	−12	−12	#073642	7	54	66	235	black
Base01		45	−07	−07	#586e75	88	110	117	240	brgreen	content tones
Base00		50	−07	−07	#657b83	101	123	131	241	bryellow
Base0		60	−06	−03	#839496	131	148	150	244	brblue
Base1		65	−05	−02	#93a1a1	147	161	161	245	brcyan
Base2		92	−00	10	#eee8d5	238	232	213	254	white	background tones
(light theme)
Base3		97	00	10	#fdf6e3	253	246	227	230	brwhite
Yellow		60	10	65	#b58900	181	137	0	136	yellow	accent tones
Orange		50	50	55	#cb4b16	203	75	22	166	brred
Red		50	65	45	#dc322f	220	50	47	160	red
Magenta		50	65	−05	#d33682	211	54	130	125	magenta
Violet		50	15	−45	#6c71c4	108	113	196	61	brmagenta
Blue		55	−10	−45	#268bd2	38	139	210	33	blue
Cyan		60	−35	−05	#2aa198	42	161	152	37	cyan
Green		60	−20	65	#859900	133	153	0	64	green
*/
:root {
  --solarized-base03: #002b36;
  --solarized-base02: #073642;
  --solarized-base01: #586e75;
  --solarized-base00: #657b83;
  --solarized-base0: #839496;
  --solarized-base1: #93a1a1;
  --solarized-base2: #eee8d5;
  --solarized-base3: #fdf6e3;
  --solarized-Yellow: #b58900;
  --solarized-Orange: #cb4b16;
  --solarized-Red: #dc322f;
  --solarized-Magenta: #d33682;
  --solarized-Violet: #6c71c4;
  --solarized-Blue: #268bd2;
  --solarized-Cyan: #2aa198;
  --solarized-Green: #859900;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 7vh;
  z-index: 2000;
  background-color: var(--solarized-base02);
}

header #konattsu-menu-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 7vh;
  height: 7vh;
  font-size: 2vh;
  background-color: var(--solarized-base03);
  color: var(--solarized-base3);
  border: 1px solid var(--solarized-base0);
}

header #konattsu-header-icon {
  position: absolute;
  clip-path: circle(30%);
  top: calc(-0.15 * 7vh);
  right: calc(-0.15 * 7vh);
  width: calc(1.3 * 7vh);
  height: calc(1.3 * 7vh);
}

body {
  color: var(--solarized-base2);
  margin-top: 7vh;
  background-color: #092a35;
  z-index: -1;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1000;
}

.ocean {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
}

.nazoseibutu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -100;
}

#konattsu-menu {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  background-color: #fff1;
}